<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.WxUserMapper" >
  <resultMap id="BaseResultMap" type="entity.WxUser" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="OPENID" property="openid" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="AVATARURL" property="avatarurl" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="DECIMAL" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
    <result column="CTIME" property="ctime" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPENID, NICKNAME, AVATARURL, GENDER, COUNTRY, PROVINCE, CITY, LANGUAGE, CTIME, 
    MOBILE
  </sql>

  <!--就是查询openid,-->
  <select id="selectByOpenId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from WX_USER where OPENID= #{openid,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from WX_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from WX_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="entity.WxUser" >
    /*就是插入自己序列号主键的序列号.keyProperty id是这个xml里面的实体类的,数据库里面的Id.  seq_user_info_id及时创建主键序列*/
    <selectKey keyProperty="id" order="BEFORE" resultType="int">
      select SEQ_wx_user_id.nextval from dual
    </selectKey>



    insert into WX_USER (ID, OPENID, NICKNAME, 
      AVATARURL, GENDER, COUNTRY, 
      PROVINCE, CITY, LANGUAGE, 
      CTIME, MOBILE)
    values (#{id,jdbcType=DECIMAL}, #{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{avatarurl,jdbcType=VARCHAR}, #{gender,jdbcType=DECIMAL}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.WxUser" >
    /*就是插入自己序列号主键的序列号.keyProperty id是这个xml里面的实体类的,数据库里面的Id.  seq_user_info_id及时创建主键序列*/
    <selectKey keyProperty="id" order="BEFORE" resultType="int">
      select SEQ_wx_user_id.nextval from dual
    </selectKey>

    insert into WX_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="openid != null" >
        OPENID,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="avatarurl != null" >
        AVATARURL,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="language != null" >
        LANGUAGE,
      </if>
      <if test="ctime != null" >
        CTIME,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=DECIMAL},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.WxUser" >
    update WX_USER
    <set >
      <if test="openid != null" >
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        AVATARURL = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=DECIMAL},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        LANGUAGE = #{language,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.WxUser" >
    update WX_USER
    set OPENID = #{openid,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      AVATARURL = #{avatarurl,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=DECIMAL},
      COUNTRY = #{country,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      LANGUAGE = #{language,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>